<!DOCTYPE html>

　　<html>

　　<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Bing Li">
　　　　<title>{{ page.title }} | Bing Li </title>
		<!-- link to main stylesheet -->
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css">-->
		<link rel="icon" type="image/png" href="img/Duke.png">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">

		{% include analytics.html %}	
　　</head>

　　<body>
		<div class="container">
			<div class="header">
		    	<ul class="nav nav-pills pull-right">
		        		<li class="{{ page.cv }}"><a href="/" title = "Home">Home</a></li>
			        	<li><a href="/about">About Me</a></li>
		        		<li><a href="/cv">CV</a></li>
		        		<!-- <li><a href="/blog">Blog</a></li> -->
		    	</ul>
		    	<h3 class="text-muted"><a href="/">Bing Li</a></h3>
			</div><!--header -->

			{{ content }}

			<footer>
				<div class="row">
					<div class="col-sm-8">
					<p><small>&copy; BingLi 2018; Last updated: Sep 01, 2019</small></p>
					</div>
				</div>
			</footer>

		</div><!-- /.container -->
		
		{% include scripts.html %}

　　</body>

　　</html>