<!DOCTYPE html>

　　<html>

　　<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Bing Li">
　　　　<title>{{ page.title }} | Bing Li </title>
		<!--<title>Bing Li: Homepage</title> -->
		<!-- link to main stylesheet -->
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		{% include analytics.html %}	
　　</head>

　　<body>
			<div class="container">
						<nav>
	    		<ul class="nav nav-pills pull-right">
	        		<li class="{{ page.cv }}"><a href="/" title = "CV">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			{{ content }}
			

				<footer>
		    		<ul class="row">
		        		<li><a href="mailto:bing.li.ecc@duke.edu">email</a></li>
					</ul>
					<div class="row">
					<div class="col-sm-8">
						<p><small>&copy; bingli 2018</small></p>
					</div>
				</footer>
			</div><!-- /.container -->
　　</body>

　　</html>